* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #a383a3;
  color: #2b102d;
  font-family: 'Montserrat', sans-serif;
}


.header {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  border-bottom: 1px solid #2b102d;
}

.header__logo {
  width: 15%;
}

.header__title {
  font-size: 40px;
  text-transform: uppercase;
  color: #2b102d;
  font-family: 'Monoton', cursive;
  letter-spacing: 2px;
  word-spacing: 10px;
  /* animation: title-animation 4s linear infinite; */
}

@keyframes title-animation {
  0% {
    color: #2b102d;
  }

  25% {
    color: #1cb2a4;
  }

  50% {
    color: #f49937;
  }

  75% {
    color: #63c0ba;
  }

  100% {
    color: #2b102d;
  }
}



.instrumets__wrapper {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px auto 0 auto;
}

.instruments__instr {
  width: 15%;
}


.maracas-img,
.piano-img,
.guitar-img {
  width: 13%;
}

.xylophone-img {
  width: 10%;
}

.instruments__instruction {
  margin-top: 30px;
  text-align: center;
}

.instruments__instruction-content {
  margin-top: 10px;
}
