body {
  background-image: url(./img/bgi1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body,
.image-field {
  height: 100%;
  margin: 0;
  padding: 0;
}

.image-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-upload {
  width: 70vw;
  height: 40vw;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
}

.imageCanvas {
  display: block;
  color: #26c3df;
}

input[type="file"] {
  display: none;
}

.imageLoaderLabel {
  display: block;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: arial;
}

.imageLoaderLabel--hide {
  display: none;
}

.arrow {
  display: block;
  position: relative;
  margin: 50px auto;
  width: 30px;
  height: 40px;
  background: #59aaed;
}

.arrow::before,
.arrow::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.arrow::after {
  top: 39px;
  left: -15px;
  border-top: 30px solid #59aaed;
}

.toolbar {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  height: 40vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.toolbar>div {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.toolbar__icon {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #e3d3e2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

i.fas {
  font-size: 30px;
}

.toolbar__wrapper:hover>.toolbar__panel {
  transform: translate(50%, -50%);
  transition: .7s;
}

.toolbar__wrapper:hover .toolbar__icon {
  background-color: #ddbfdc;
  color: red;
  transition: .7s;
}


.toolbar__clear:hover .toolbar__icon,
.toolbar__save:hover .toolbar__icon {
  background-color: #ddbfdc;
  color: red;
  transition: .7s;
}


.toolbar__panel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-200%, -50%);
  background-color: #ddbfdc;
  width: 100%;
  height: 99%;
  z-index: -1;
}

.toolbar__brush {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid rgb(126, 126, 126);
  cursor: pointer;
}

.toolbar__brush--circle {
  border-radius: 50%;
  left: 75%;
}


.slider {
  -webkit-appearance: slider-vertical;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  cursor: pointer;
}

input[type="range"] {}

.palette {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.palette:focus {
  outline: none;
}

.fa-paint-brush {
  color: rgb(182, 80, 212);
}

.fa-palette {
  color: rgb(120, 96, 207);
}

.fa-sun {
  color: rgb(235, 175, 65);
}

.fa-adjust {
  color: rgb(255, 104, 66);
}

.fa-burn {
  color: rgb(73, 198, 236);
}

.fa-trash-alt {
  color: rgb(65, 65, 65);
}

.fa-file-download {
  color: rgb(49, 177, 60);
}
